<%-include("header")-%>
<%-include("homebar")-%>
<div class = "scroll">
  <div class = "fullBody">
<p><%=`Error Code: ${errorCode}`%></p>
<p><%=errorMessage%></p>
</div>
</div>
<%-include("Footer")-%>
